/* 
  the relative positioning is relative to where the element would have been displayed  if it was following natural HTML flow.

  what is relative position:so that is a position
  that is relative to where the element would have been had we followed the natural HTML flow.
  
  .img {
    position:relative
    right:30px;
  }
  By making the image 30px from right relative to its previous position then we are basically saying that there should be a right margin between the image and where it used to be in the value of 30px.

  centering elements:
  we can center by applying 
  text-align = centre; in body part
  but this fails if(it is block element has width set) our div elememt has width less than 100%. like width:10%;
  in this case we will use margn:0 auto;
  and then elements will be centerd.
*/

/* -----------------------  Basic Settings  -------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-weight: normal;
  font-family: 'Merriweather', sans-serif;
  color: #40514e;
  font-size: 16px;
  word-spacing: 5px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 510%;
  color: #66bfbf;
  padding: 1% 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  font-weight: 400;
  color: #11999e;
  padding: 2% 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #66bfbf;
  padding: 1% 0;
  font-size: 145%;
  font-weight: 400;
}

p {
  line-height: 2;
  font-family: 'Merriweather', sans-serif;
}

hr {
  border-style: none;
  border-top: 1px dotted #acacac;
  border-width: 5px;
  width: 5%;
  margin: 2.5% auto;
}

/* --------------------------Top container-------------------- */
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 80px;
  line-height: 2;
}

.top-container h2 {
  font-weight: normal;
  padding: 0 0;
}

.top-cloud {
  position: absolute;
  top: 10%;
  right: 25%;
}

.bottom-cloud {
  position: absolute;
  top: 30%;
  left: 25%;
}

.mont {
  display: flex;
  justify-content: center;
  margin: 0 5%;
}

.mountain {
  width: 100%;
  display: block;
}

/* --------------------------Skills row -------------------- */
.skill-row,
.projects-row {
  width: 53%;
  margin: 4% auto;
  text-align: left;
}

.skills-img {
  border-radius: 100%;
  width: 30%;
}

.comp,
.data {
  float: left;
  margin-right: 13%;
}
.clear-comp,
.clear-data {
  clear: left;
}

.web {
  float: right;
  margin-left: 13%;
}
.clear-web {
  clear: right;
}

.skills-h3 {
  padding-top: 5%;
}

/* -------------------------- Middle container-------------------- */
.face-img {
  border-radius: 100px;
  height: 180px;
  width: 170px;
  margin-top: 3%;
}

.profile p {
  width: 60%;
  margin: auto;
}

/* -------------------------- Contact me-------------------- */
.contact-me {
  margin-bottom: 5%;
}
.contact-me p {
  width: 45%;
  margin: 2% auto;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #1b1313d0;
  font-family: 'Roboto', sans-serif;
  background-color: #66bfbf;
  padding: 1%;
  border-radius: 50px;
}

.btn:active,
.btn:hover {
  color: #66bfbf;
  background-color: #1b1313d0;
}

/* -------------------------- Bottom Container -------------------- */

.footer {
  background-color: #1b1313d0;
  color: #11999e;
  padding-bottom: 1%;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  font-weight: 400;
  margin: 2% 5%;
  color: #11999e;
}

.footer-link:active,
.footer-link:hover {
  color: #66bfbf;
}

.copyright {
  color: #66bfbf;
  font-size: 85%;
}

/* -------------------------- My projects -------------------- */

.projects {
  position: relative;
}
.hidden {
  display: none;
}

.project-name {
  padding-top: 7%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 3.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.close-modal:hover,
.close-modal:active,
.close-modal:visited {
  color: #11999e;
}

.pro-pointer {
  cursor: pointer;
  margin-left: 5%;
  text-align: center;
}

.pro-pointer:active {
  color: #11999e;
}
.pro-pointer:hover {
  cursor: pointer;
  margin-left: 5%;
  text-align: center;
  color: #11999e;
}

/* My projects rows */

.projects .projects-row {
  width: 55%;
  margin: 4% auto;
  text-align: left;
}

.project-img {
  border-radius: 10px;
  width: 55%;
}

.odd {
  float: left;
  margin-right: 13%;
}

.clear-odd {
  clear: left;
}

.even {
  float: right;
  margin-left: 13%;
}
.clear-even {
  clear: right;
}

/* ------------- My projects buttons --------------*/
.projects-row .btn {
  margin-right: 3%;
  padding: 2%;
}

.projects-row p {
  margin-bottom: 20px;
}
